openapi: 3.1.0
info:
  title: Claros DPP Standards API
  version: "2026-04-27"
  description: >
    Standards-facing Digital Product Passport API aligned to the repository's
    current JTC24-oriented route surface. Supports product identifier lookup,
    version reads, fine-grained element reads, batch lookup, and registry-style
    registration of released passports.
servers:
  - url: https://www.claros-dpp.online
    description: Production
  - url: http://localhost:3001
    description: Local backend
tags:
  - name: DPP
  - name: Registry
paths:
  /api/v1/dpps/{dppId}:
    options:
      tags: [DPP]
      summary: Advertise supported patch media types for the DPP resource
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '204':
          description: Patch capability metadata
          headers:
            Allow:
              description: Supported methods for this resource path.
              schema:
                type: string
            Accept-Patch:
              description: Supported patch document media types.
              schema:
                type: string
    patch:
      tags: [DPP]
      summary: Update an editable passport revision by DPP ID
      description: >
        The path value may be a strong DPP record identifier or a DPP DID. This
        route updates the editable whole-passport revision rather than an individual
        data element. The request body is treated as a partial JSON Merge Patch:
        omitted fields are left unchanged. The API accepts both `application/json`
        and RFC 7396 `application/merge-patch+json`.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
          application/merge-patch+json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated editable passport payload
          headers:
            Accept-Patch:
              description: Supported patch document media types.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [success, dppId, digitalProductPassportId, passport]
                properties:
                  success:
                    type: boolean
                  dppId:
                    type: string
                  digitalProductPassportId:
                    type: string
                  updatedFields:
                    type: array
                    items:
                      type: string
                  passport:
                    $ref: '#/components/schemas/DppPayload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          description: Unsupported patch media type
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Editable passport conflict
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [DPP]
      summary: Delete an editable passport revision by DPP ID
      description: >
        The path value may be a strong DPP record identifier or a DPP DID. This
        operation is limited to editable draft/in-revision DPP rows. Released DPPs
        must use the archive lifecycle action instead of DELETE.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '200':
          description: Delete result
          content:
            application/json:
              schema:
                type: object
                required: [success, dppId, digitalProductPassportId]
                properties:
                  success:
                    type: boolean
                  dppId:
                    type: string
                  digitalProductPassportId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: >
            Editable passport conflict or released DPP lifecycle conflict. When the
            target DPP is already released, the response points clients to the
            archive lifecycle endpoint.
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dpps/{dppId}/archive:
    post:
      tags: [DPP]
      summary: Archive an active/released DPP as an end-of-life lifecycle action
      description: >
        Archives a released or inactive live DPP lineage without using DELETE.
        This is the standards-facing end-of-life action for DPPs that are no
        longer meant to remain active in the live registry surface.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '200':
          description: DPP archived
          content:
            application/json:
              schema:
                type: object
                required: [success, lifecycleAction, lifecycleStatus, versionsArchived, dppId, digitalProductPassportId]
                properties:
                  success:
                    type: boolean
                  lifecycleAction:
                    type: string
                    enum: [archive]
                  lifecycleStatus:
                    type: string
                    enum: [Archived]
                  versionsArchived:
                    type: integer
                  dppId:
                    type: string
                  digitalProductPassportId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ambiguous DPP identifier
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dpps:
    post:
      tags: [DPP]
      summary: Create an editable passport revision in the standards namespace
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [passportType, productId]
              properties:
                companyId:
                  type: integer
                passportType:
                  type: string
                productId:
                  type: string
                granularity:
                  type: string
                  enum: [model, batch, item]
                model_name:
                  type: string
      responses:
        '201':
          description: Editable passport created
          content:
            application/json:
              schema:
                type: object
                required: [success, dppId, digitalProductPassportId, passport]
                properties:
                  success:
                    type: boolean
                  dppId:
                    type: string
                  digitalProductPassportId:
                    type: string
                  passport:
                    $ref: '#/components/schemas/DppPayload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Product identifier conflict
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dppsByProductIds:
    post:
      tags: [DPP]
      summary: Resolve DPP IDs for multiple productId values
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productId]
              properties:
                productId:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 100
                cursor:
                  type: string
      responses:
        '200':
          description: DPP identifier lookup response
          content:
            application/json:
              schema:
                type: object
                required: [identifiers, limit, cursor, nextCursor]
                properties:
                  identifiers:
                    type: array
                    items:
                      type: string
                  limit:
                    type: integer
                  cursor:
                    type: string
                    nullable: true
                  nextCursor:
                    type: string
                    nullable: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dppsByProductIds/search:
    post:
      tags: [DPP]
      summary: Extension batch search that returns full passport payload results
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productId]
              properties:
                productId:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  items:
                    type: string
                companyId:
                  type: integer
                versionNumber:
                  type: integer
                representation:
                  type: string
                  enum: [compressed, expanded]
                format:
                  type: string
                  enum: [json, jsonld]
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 100
                cursor:
                  type: string
      responses:
        '200':
          description: Batch payload lookup response
          content:
            application/json:
              schema:
                type: object
                required: [representation, format, limit, cursor, nextCursor, results]
                properties:
                  representation:
                    type: string
                    enum: [compressed, expanded]
                  format:
                    type: string
                    enum: [json, jsonld]
                  limit:
                    type: integer
                  cursor:
                    type: string
                    nullable: true
                  nextCursor:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchLookupResult'
            application/ld+json:
              schema:
                type: object
                required: [representation, format, limit, cursor, nextCursor, results]
                properties:
                  representation:
                    type: string
                    enum: [compressed, expanded]
                  format:
                    type: string
                    enum: [json, jsonld]
                  limit:
                    type: integer
                  cursor:
                    type: string
                    nullable: true
                  nextCursor:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchLookupResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dppsByProductId/{productId}:
    get:
      tags: [DPP]
      summary: Read the current active/latest released passport by productId
      description: >
        Standards-conformant productId lookup route. Use `representation=expanded`
        to receive the prEN 18223-style expanded payload with a Digital Product
        Passport header plus `elements[]`. The legacy `representation=full`
        value remains accepted as a backward-compatible alias.
      parameters:
        - $ref: '#/components/parameters/ProductIdPath'
        - $ref: '#/components/parameters/RepresentationQuery'
      responses:
        '200':
          description: Passport payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DppPayload'
                  - $ref: '#/components/schemas/ExpandedDppPayload'
            application/ld+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JsonLdPayload'
                  - $ref: '#/components/schemas/ExpandedJsonLdPayload'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AmbiguousProductIdentifier'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dpps/{productIdentifier}/versions/{versionNumber}:
    get:
      tags: [DPP]
      summary: Read a specific released passport version
      parameters:
        - $ref: '#/components/parameters/ProductIdentifier'
        - $ref: '#/components/parameters/VersionNumberPath'
        - $ref: '#/components/parameters/CompanyIdQuery'
        - $ref: '#/components/parameters/RepresentationQuery'
      responses:
        '200':
          description: Passport payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppPayload'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/JsonLdPayload'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AmbiguousProductIdentifier'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dppsByProductIdAndDate/{productId}:
    get:
      tags: [DPP]
      summary: Read a released passport version by product ID and date
      description: >
        Standards-conformant productId-and-date lookup route. This route accepts
        only the raw `productId` value plus a required ISO 8601 `date` query.
      parameters:
        - $ref: '#/components/parameters/ProductIdPath'
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/RepresentationQuery'
      responses:
        '200':
          description: Passport payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppPayload'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/JsonLdPayload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dpps/{dppId}/elements/{elementIdPath}:
    get:
      tags: [DPP]
      summary: Read a specific passport data element from the canonical payload
      description: >
        Reads one DPP data element by `dppId` and element path. The current
        implementation supports simple DPP element paths such as `manufacturer`,
        `$.manufacturer`, `$.fields.manufacturer`, or bracketed equivalents like
        `$['fields']['manufacturer']`. Full RFC 9535 JSONPath features such as
        recursive descent, filters, slices, unions, and wildcards are not supported.
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
        - $ref: '#/components/parameters/ElementIdPath'
      responses:
        '200':
          description: Element payload
          content:
            application/json:
              schema:
                type: object
                required: [productIdentifier, elementIdPath, value]
                properties:
                  productIdentifier:
                    type: string
                  dppId:
                    type: string
                  elementIdPath:
                    type: string
                  elementId:
                    type: string
                  dictionaryReference:
                    type: string
                    nullable: true
                  cardinality:
                    type: string
                    enum: [single, multi]
                  value: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ambiguous DPP identifier
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/dpps/{dppId}/elements/{elementIdPath}:
    patch:
      tags: [DPP]
      summary: Update a writable DPP data element on an editable passport revision
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
        - $ref: '#/components/parameters/ElementIdPath'
        - $ref: '#/components/parameters/CompanyIdQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                elementId:
                  type: string
                dictionaryReference:
                  type: string
                valueDataType:
                  type: string
                value: {}
              required: [value]
              description: >
                Supports either a minimal body like `{ "value": ... }` or a fuller
                DataElement-style body containing `elementId`, `dictionaryReference`,
                `valueDataType`, and `value`.
      responses:
        '200':
          description: Updated element response
          content:
            application/json:
              schema:
                type: object
                required: [productIdentifier, elementIdPath, value]
                properties:
                  productIdentifier:
                    type: string
                  dppId:
                    type: string
                  elementIdPath:
                    type: string
                  elementId:
                    type: string
                  dictionaryReference:
                    type: string
                    nullable: true
                  cardinality:
                    type: string
                    enum: [single, multi]
                  value: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Editable passport conflict
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/registerDPP:
    post:
      tags: [Registry]
      summary: Register a released passport with a registry target
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productIdentifier]
              properties:
                productIdentifier:
                  type: string
                registryName:
                  type: string
                  default: local
                companyId:
                  type: integer
      responses:
        '201':
          description: Registration stored
          content:
            application/json:
              schema:
                type: object
                required: [statusCode, registrationId, success, registration, payload]
                properties:
                  statusCode:
                    type: string
                    enum: [SuccessCreated]
                  registrationId:
                    type: string
                    description: Standards-friendly registry entry identifier such as `local:123`.
                  success:
                    type: boolean
                  registration:
                    $ref: '#/components/schemas/RegistryRegistration'
                  payload:
                    $ref: '#/components/schemas/RegistryPayload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AmbiguousProductIdentifier'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  parameters:
    ProductIdPath:
      name: productId
      in: path
      required: true
      schema:
        type: string
      description: Raw product ID value used for standards search endpoints.
    ProductIdentifier:
      name: productIdentifier
      in: path
      required: true
      schema:
        type: string
      description: Legacy product identifier parameter used on compatibility routes.
    DppIdPath:
      name: dppId
      in: path
      required: true
      schema:
        type: string
      description: Strong DPP record identifier or DPP DID for an editable passport revision.
    CompanyIdQuery:
      name: companyId
      in: query
      required: false
      schema:
        type: integer
    VersionNumberQuery:
      name: versionNumber
      in: query
      required: false
      schema:
        type: integer
    VersionNumberPath:
      name: versionNumber
      in: path
      required: true
      schema:
        type: integer
    RepresentationQuery:
      name: representation
      in: query
      required: false
      schema:
        type: string
        enum: [compressed, expanded]
      description: >
        Use `expanded` for the prEN 18223-style header plus `elements[]` export.
        The legacy value `full` is also accepted as a backward-compatible alias.
    ElementIdPath:
      name: elementIdPath
      in: path
      required: true
      schema:
        type: string
      description: >
        Canonical field key or supported simple DPP element path. Full RFC 9535
        JSONPath is not currently supported.
  schemas:
    DppPayload:
      type: object
      properties:
        digitalProductPassportId:
          type: string
        uniqueProductIdentifier:
          type: string
        dppSchemaVersion:
          type: string
        dppStatus:
          type: string
        contentSpecificationIds:
          type: array
          items:
            type: string
      additionalProperties: true
    JsonLdPayload:
      allOf:
        - type: object
          properties:
            '@context': {}
        - $ref: '#/components/schemas/DppPayload'
    ExpandedElement:
      type: object
      properties:
        elementId:
          type: string
        objectType:
          type: string
        dictionaryReference:
          type: string
        valueDataType:
          type: string
        value: {}
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ExpandedElement'
      additionalProperties: true
    ExpandedDppPayload:
      allOf:
        - $ref: '#/components/schemas/DppPayload'
        - type: object
          properties:
            elements:
              type: array
              items:
                $ref: '#/components/schemas/ExpandedElement'
    ExpandedJsonLdPayload:
      allOf:
        - type: object
          properties:
            '@context': {}
        - $ref: '#/components/schemas/ExpandedDppPayload'
    BatchLookupResult:
      type: object
      required: [productIdentifier, found]
      properties:
        productIdentifier:
          type: string
        found:
          type: boolean
        error:
          type: string
        companyIds:
          type: array
          items:
            type: integer
        payload:
          oneOf:
            - $ref: '#/components/schemas/DppPayload'
            - $ref: '#/components/schemas/JsonLdPayload'
    RegistryRegistration:
      type: object
      properties:
        id:
          type: integer
        passport_guid:
          type: string
          format: uuid
        company_id:
          type: integer
        product_identifier:
          type: string
        dpp_id:
          type: string
        registry_name:
          type: string
        status:
          type: string
        registered_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RegistryPayload:
      type: object
      properties:
        digitalProductPassportId:
          type: string
        uniqueProductIdentifier:
          type: string
        subjectDid:
          type: string
        dppDid:
          type: string
        companyDid:
          type: string
        publicUrl:
          type: string
        contentSpecificationIds:
          type: array
          items:
            type: string
        passportType:
          type: string
        versionNumber:
          type: integer
        requestedBy:
          type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
  responses:
    BadRequest:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    AmbiguousProductIdentifier:
      description: Identifier matches multiple passports
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
              companyIds:
                type: array
                items:
                  type: integer
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
