openapi: 3.1.0
info:
  title: Claros DPP Public and Integration API
  version: "2026-06-27"
  description: >
    Current external API surface for Digital Product Passports. Public reads use
    `/api/public/passports/{dppId}` and return public fields by default. Selected
    restricted fields are returned only when a valid security group API key is
    supplied in `X-API-Key` or `X-Security-Group-Key`. Company automation writes
    use the company-name slug integration namespace and require a Bearer token.
servers:
  - url: https://www.claros-dpp.online
    description: Production
  - url: http://localhost:3001
    description: Local backend
tags:
  - name: Public read
  - name: Public verification
  - name: Integration write
paths:
  /api/public/passports/{dppId}:
    get:
      tags: [Public read]
      summary: Read a public-safe passport by DPP ID
      description: >
        Returns public passport fields without authentication. When a valid
        security group key is supplied, the response also includes only the
        restricted fields selected for that key and only when the key applies to
        this passport type or selected passport.
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
        - $ref: '#/components/parameters/VersionQuery'
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [semantic]
          description: Request JSON-LD output.
        - name: representation
          in: query
          required: false
          schema:
            type: string
            enum: [compressed, full]
          description: Select compressed or expanded passport representation.
        - $ref: '#/components/parameters/SecurityGroupKeyHeader'
        - $ref: '#/components/parameters/AlternateSecurityGroupKeyHeader'
      responses:
        '200':
          description: Public-safe passport payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPassportPayload'
            application/ld+json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or revoked security group key.
        '403':
          description: Security group key is not valid for this company, type, or passport.
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/passports/{dppId}/history:
    get:
      tags: [Public read]
      summary: Read public passport version history
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '200':
          description: Public version history.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/passports/{dppId}/dynamic-values:
    get:
      tags: [Public read]
      summary: Read current dynamic field values
      description: >
        Returns public dynamic fields for a released or obsolete passport.
        A valid security group key also returns selected restricted dynamic
        fields covered by that key.
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
        - $ref: '#/components/parameters/SecurityGroupKeyHeader'
        - $ref: '#/components/parameters/AlternateSecurityGroupKeyHeader'
      responses:
        '200':
          description: Latest allowed dynamic values keyed by canonical field key.
          content:
            application/json:
              schema:
                type: object
                required: [values]
                properties:
                  values:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        value: {}
                        updatedAt:
                          type: string
                          format: date-time
        '401':
          description: Invalid or revoked security group key.
        '403':
          description: Security group key is not valid for this company, type, or passport.
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/passports/{dppId}/dynamic-values/{fieldKey}/history:
    get:
      tags: [Public read]
      summary: Read dynamic field history
      description: >
        Returns history for a public dynamic field. Restricted dynamic history
        requires a security group key that explicitly includes the field.
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
        - name: fieldKey
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 2000
            default: 500
        - $ref: '#/components/parameters/SecurityGroupKeyHeader'
        - $ref: '#/components/parameters/AlternateSecurityGroupKeyHeader'
      responses:
        '200':
          description: Ordered dynamic field history.
          content:
            application/json:
              schema:
                type: object
                required: [history]
                properties:
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        value: {}
                        updatedAt:
                          type: string
                          format: date-time
        '401':
          description: Invalid or revoked security group key.
        '403':
          description: The field is restricted or the key does not cover it.
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/passports/{dppId}/qrcode:
    get:
      tags: [Public read]
      summary: Read QR and carrier authenticity metadata
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '200':
          description: QR code and carrier authenticity metadata for a released or obsolete passport.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/passports/{dppId}/signature:
    get:
      tags: [Public verification]
      summary: Verify the released passport signature
      description: >
        Returns public verification metadata only. The stored credential payload
        is not exposed here because it may contain non-public signed fields.
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
        - $ref: '#/components/parameters/VersionQuery'
      responses:
        '200':
          description: Signature verification status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureVerification'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/passports/{dppId}/verification-bundle:
    get:
      tags: [Public verification]
      summary: Read public verification summary and proof metadata
      parameters:
        - $ref: '#/components/parameters/DppIdPath'
        - $ref: '#/components/parameters/VersionQuery'
      responses:
        '200':
          description: Public verification bundle.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/companies/{companySlug}/profile:
    get:
      tags: [Public read]
      summary: Read a public company profile by company slug
      parameters:
        - name: companySlug
          in: path
          required: true
          schema:
            type: string
          description: Lowercase hyphenated company name or DID slug.
      responses:
        '200':
          description: Public company profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  companyName:
                    type: string
                  companyLogo:
                    type: [string, 'null']
                  didSlug:
                    type: [string, 'null']
        '404':
          $ref: '#/components/responses/NotFound'
  /api/companies/{companySlug}/integrations/v1/passports:
    post:
      tags: [Integration write]
      summary: Create an editable passport draft for a company
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CompanySlugPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassportMutationRequest'
      responses:
        '201':
          description: Created DPP draft.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Identifier or lifecycle conflict.
        '500':
          $ref: '#/components/responses/InternalError'
  /api/companies/{companySlug}/integrations/v1/passports/{dppId}:
    options:
      tags: [Integration write]
      summary: Advertise supported patch media types
      parameters:
        - $ref: '#/components/parameters/CompanySlugPath'
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '204':
          description: Patch capability metadata.
    patch:
      tags: [Integration write]
      summary: Update an editable passport by DPP ID
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CompanySlugPath'
        - $ref: '#/components/parameters/DppIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassportMutationRequest'
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PassportMutationRequest'
      responses:
        '200':
          description: Updated passport.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Editable passport conflict.
        '415':
          description: Unsupported patch media type.
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Integration write]
      summary: Delete an editable passport draft or in-revision row
      description: Released passports must use the archive endpoint.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CompanySlugPath'
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '200':
          description: Deleted editable passport.
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Released passport must be archived instead.
        '500':
          $ref: '#/components/responses/InternalError'
  /api/companies/{companySlug}/integrations/v1/passports/{dppId}/archive:
    post:
      tags: [Integration write]
      summary: Archive a released passport lineage
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CompanySlugPath'
        - $ref: '#/components/parameters/DppIdPath'
      responses:
        '200':
          description: Archived passport lineage.
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/companies/{companySlug}/integrations/v1/passports/{dppId}/dynamic-values:
    post:
      tags: [Integration write]
      summary: Push current dynamic field values for a passport
      description: Restricted dynamic fields are rejected even when the caller has a Bearer token.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CompanySlugPath'
        - $ref: '#/components/parameters/DppIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Dynamic values accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    CompanySlugPath:
      name: companySlug
      in: path
      required: true
      schema:
        type: string
      description: Lowercase hyphenated company name, for example `acme-batteries`.
    DppIdPath:
      name: dppId
      in: path
      required: true
      schema:
        type: string
      description: Canonical DPP ID.
    VersionQuery:
      name: version
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      description: Public version number for archived or inactive snapshots.
    SecurityGroupKeyHeader:
      name: X-API-Key
      in: header
      required: false
      schema:
        type: string
      description: Security group key for selected restricted fields.
    AlternateSecurityGroupKeyHeader:
      name: X-Security-Group-Key
      in: header
      required: false
      schema:
        type: string
      description: Alternate header for a security group key.
  schemas:
    PublicPassportPayload:
      type: object
      additionalProperties: true
      properties:
        dppId:
          type: string
        passportType:
          type: string
        fields:
          type: object
          additionalProperties: true
        viewerSchema:
          type: object
          additionalProperties: true
        companyProfile:
          type: object
          additionalProperties: true
        restrictedAccess:
          type: object
          properties:
            unlocked:
              type: boolean
            fieldKeys:
              type: array
              items:
                type: string
            securityGroup:
              type: object
              properties:
                name:
                  type: [string, 'null']
                scopeType:
                  type: string
                  enum: [passportType, passports]
    PassportMutationRequest:
      type: object
      additionalProperties: true
      properties:
        passportType:
          type: string
        productIdentifier:
          type: string
        granularity:
          type: string
          enum: [model, batch, item]
        fields:
          type: object
          additionalProperties: true
    SignatureVerification:
      type: object
      additionalProperties: true
      properties:
        status:
          type: string
        signedAt:
          type: string
          format: date-time
        keyId:
          type: string
        dataHash:
          type: string
        algorithm:
          type: string
  responses:
    BadRequest:
      description: Invalid request.
    Unauthorised:
      description: Missing or invalid Bearer token.
    Forbidden:
      description: Authenticated caller is not allowed to perform this action.
    NotFound:
      description: Resource not found.
    RateLimited:
      description: Too many requests.
    InternalError:
      description: Internal server error.
